<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
<form class = "form container" [formGroup]="myForm">
  <mat-form-field class="padding">
    <mat-label>Select Site</mat-label>
    <mat-select formControlName="site" required>
      <mat-option *ngFor="let site of sites" [value]="site">
        {{site.site}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="btn btn-primary" (click)="getData()">Submit</button>
</form>

 
<!-- display area-->
<div class = "display" *ngIf="info">
<table class="container table">
  <tr>
    <th>Solar Noon</th>
    <th>Current Azimuth</th>
  </tr>
  <tr>
    <td>{{info.solar_noon}}</td>
    <td>{{info.sun_azimuth | number:'3.1-2'}}</td>
  </tr>
</table>
</div>
<div>

  <!--  
<div class="container display" *ngIf="info">
  {{info.solar_noon}}
  {{info.sun_azimuth}}
</div>
</div>
</body>
</html>
  -->





