/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }

  

  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
  
  body {
    margin: 30px 50px;
    line-height: 1.4;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/IMG_7892.JPG");
    background-size: cover;
    background-position: center;
    padding: 2rem;
  }


.form {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    padding: 2rem;
    text-align: center;
    border:solid;
    border-color: rgb(173, 86, 86);
    background-color: #fff;
}

.display {
    margin: 4rem auto;
    color: white;
    text-align: center;
}

  .table, table th, table td{
    margin: 4rem auto;
    color: white;
    text-align: center;
    font-size: 2rem;
}
@media (max-width: 800px) {
  
.form {
max-width: 600px;
justify-content: center;
}
}

@media (max-width: 500px) {
.table, table th, table td{
  margin: 4rem auto;
  color: white;
  text-align: center;
  font-size: 1.2rem;
 }
}

